
:root{
    --vermelha: #E50914; /*Definindo como variavel as cores padrões do site*/
    --preta: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/**********ELEMENTOS BASE************/

body {
    background: var(--preta); /*usando a var criada*/
    font-family: 'Times New Roman','Franklin Gothic Medium', 'Arial Narrow', Times, Arial, sans-serif;
    color: white;
}

header .container{
    display: flex;
    flex-direction: row; /*A exibição do nosso container passa a ser por linha*/
    align-items: center; /*Alinhando verticalmente nossos elementos ao centro*/
    justify-content: space-between ; /*alinhando horizontamente os elementos e criando espaçamento entre as class/tag logo e nav*/
}

header .logo{
    margin-left: 8px ;
    color: var(--vermelha);
    font-family: 'Arial';
    font-weight: bolder;
    font-size: 30px;
}

header nav a {
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
}

header nav a:hover{
    color: #AAA; /*Ao passar o mouse sobre o link irá alterar a cor*/
}

/**********FILME PRINCIPAL************/

.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.60)100%),url('../img/capa.jpg') ;
    
    height: 400px;
    background-size: cover;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

.filme-principal .descricao{
    margin-bottom: 10px;
}


.avaliacao img{
    margin-bottom: 20px;
}

button a {
    text-decoration: none;
    color: var(--preta);
}

.titulo{
    font-size: 40px;
}

